@model ClinicaMedica.Web.ViewModels.Medicos.MedicoFormViewModel

@{
    ViewData["Title"] = "Detalhes do Médico";
}

<div class="container mt-4">
    <h2>Detalhes do Médico</h2>

    <div class="mt-3">
        <partial name="_Form" model="Model" />
    </div>

    <a asp-action="Index" class="btn btn-secondary mt-3">Voltar</a>
</div>