@model ClinicaMedica.Web.ViewModels.Consultas.ConsultaFormViewModel

@{
    ViewData["Title"] = "Detalhes da Consulta";
}

<div class="container mt-4">
    <h2>Detalhes da Consulta</h2>

    <div class="mt-3">
        <partial name="_Form" model="Model" />
    </div>

    <a asp-action="Index" class="btn btn-secondary mt-3">Voltar</a>
</div>